.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.gbox{
  background-color:  #1B0066;
  color: white;
  border-radius: 0.5rem;
}

.lsmall:hover {
  transition: transform 0.3s ease;
  transform: scale(1.05);
}
.lsmall{
  transform: scale(1);
}

