.hov .card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.image-container {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.image-container:hover {
  transform: scale(1);
}

.tableimg:hover {
  transform: scale(1.1);
}
.tableimg {
  transition: transform 0.3s ease;
}




.btn-outline-primary:hover .bi {
  color: white;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.slide-in {
  animation: slideIn 0.5s ease-in forwards;
}

.slide-out {
  animation: slideOut 0.5s ease-in forwards;
}






@media (max-width: 800px) {
  .hov .card:hover {
    transform: scale(1);

  }

  .cardlist .card {
    margin: auto;

  }

  .fcol {
    margin-left: auto;
    margin-right: auto;
  }
}
.filter{
  height:auto;
}
.sel{
  margin-bottom: 0.5rem;
}
